.left_sidebar {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 200px;
    background: #fff;
    overflow-x: hidden;
    padding: 8px 0;
    font-family: "微软雅黑";
    color: #000
}

.right_sidebar {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 150px;
    right: 200px;
    background: #fff;
    overflow-x: hidden;
    padding: 8px 0;
}

.left_sidebar a:hover {
    color:#ff0000;
}

.left_sidebar a {
    color: #000000;
}

// .left_sidebar ul li {
//     padding: 6px 8px 6px 16px;
//     text-decoration: none;
//     font-size: 10px;
//     color: #2196F3;
//     display: block;
// }
  
.right_sidebar ul li:hover {
    color: #caddec;
}